{# templates/media/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Média - Index
{% endblock %}


{# ------------------------------------------------------ BODY ------------------------------------------------------ #}
{% block body %}
    {% if medias %}
        <table>
            <caption>Médias</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Attachement</th>
                    <th>Aperçue</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for media in medias %}
                    <tr>
                        <td>{{ media.id }}</td>
                        <td>{{ media.name }}</td>
                        <td>{{ media.attachment }}</td>
                        <td><a href="{{ path('media_show', { 'id':media.id }) }}"><img src="{{ asset('uploads/thumbnails/') }}{{ media.attachment }}"></td>
                        <td>
                            <a href="{{ path('media_delete', { 'id':media.id }) }}"><button>Supprimer</button></a>
                            <a href="{{ path('media_update', { 'id':media.id }) }}"><button>Modifier</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun média trouvé !</p>
    {% endif %}


    <a href="{{ path('media_upload') }}"><button>Charger un média</button></a>
{% endblock %}


{# ----------------------------------------------------- FOOTER ----------------------------------------------------- #}
{% block footer %}{% endblock %}